#ui-bites-extension button {
  border: 0;
  box-shadow: none;
}

#ui-bites-extension #ui-bites-extension-preview {
  margin-bottom: 20px;
}
#ui-bites-extension #ui-bites-extension-preview img {
  max-width: 100%;
}

#ui-bites-extension.ui-bites-extension-container {
  box-sizing: border-box;
  background-color: #fff;
  bottom: 0;
  font-family: sans-serif;
  font-size: 16px;
  max-width: 300px;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999999;
  color: #282A36;
  box-shadow: -3px 0 10px rgba(0, 0, 0, 0.2);
}

#ui-bites-extension.ui-bites-extension-container,
#ui-bites-extension .ui-bites-extension-card {
  color: #282A36;
}

#ui-bites-extension .form-title {
  margin: 0 0 30px;
}

#ui-bites-extension #ui-bites-extension-logout {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: transparent;
  font-size: 11px;
  text-shadow: none;
  color: #3123AE;
  cursor: pointer;
}

#ui-bites-extension .title-extension {
  margin: 0;
}

#ui-bites-extension input[type="text"] {
  box-shadow: none;
}

#ui-bites-extension .input-forms-extension {
  border: 1px solid #E6E9EE;
  padding: 11px;
  font-size: 14px;
  outline: none;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: none;
}

#ui-bites-extension .form-extension {
  padding: 20px;
}

#ui-bites-extension .form-group-extension {
  margin-bottom: 30px;
  text-align: left;
}

#ui-bites-extension .form-group-extension label {
  color: #444;
  display: block;
  margin-bottom: 10px;
  font-size: 12px;
}

#ui-bites-extension .form-group-extension textarea {
  resize: none;
  height: 100px;
}

#ui-bites-extension .header-extension {
  background-color: #3123AE;
  padding: 20px;
  background-image: linear-gradient(-134deg, #C96DD8 0%, #3023AE 100%);
}

#ui-bites-extension .font-pink {
  color: #FF6AC1;
}

#ui-bites-extension .font-light {
  color: #F1F1F0;
}


/*.form-basic label, input {
  display: block;
}*/

/*label {
  margin-bottom: 20px;
}*/

/*.form-basic label {
  margin-bottom: 1.6rem;
}*/

#ui-bites-extension .btn {
  background-color: none;
  border: none;
  outline: none;
  cursor: pointer;
}

#ui-bites-extension .btn-base {
  border-radius: 4px;
  text-transform: uppercase;
  padding: 12px;
  font-size: 14px;
}

#ui-bites-extension .btn-pink {
  background: #FF6AC1;
  color: #F1F1F0;
  transition: background-color 0.3s ease;
}

#ui-bites-extension .btn-pink:hover,
#ui-bites-extension .btn-pink:active,
#ui-bites-extension .btn-pink:focus {
  background-color: #FF43BD;
}

#ui-bites-extension .full {
  width: 100%;
}

#ui-bites-extension .uppercase {
  text-transform: uppercase;
}

#ui-bites-extension .fs-ex {
  font-size: 14px;
}
